<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My List</h1>
            <table cellspacing="10">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in todo_list.all %}
                    <tr>
                        <td>
                            <a href="{% url "todo_list_detail" item.id%}"
                            >{{ item.name }}</a>
                        </td>
                        <td>{{ item.items|length }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
